<h1>Destination's Show Page</h1>
<h2><%= @destination.destination %></h2>
<p><%= @destination.content %></p>

<p>Created on <%= @destination.created_at.strftime("%B %d, %Y") %></p>
<p>By <%= current_user[:username] %></p>

<a href="/destinations/<%=@destination.id%>/edit">Edit</a>
<br><br>

<form action="/destinations/<%=@destination.id%>/delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Destination">
</form>